body {
    background-color: lightblue;
  }
  
  h1 {
    color: navy;
    margin-left: 20px;
  }

  h2.tsk1 
  {
      text-align: center;
      color: slateblue;
      background-color: tomato;
      text-decoration: wheat;
      font-style: normal;
      font-family: Times, serif
  }

  h2.tsk2 
  {
      text-align: center;
      color: gray;
      background-color: rgb(14, 9, 78);
      text-decoration: navajowhite;
      font-style: initial;
      font-family: Arial, Helvetica, sans-serif
  }

  h2.tsk3 
  {
    text-align: center;
      color:purple;
      background-color: yellow;
      text-decoration: aqua;
      font-style: italic;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }

  h2.tsk4 
  {
    text-align: center;
      color: teal;
      background-color: yellowgreen;
      text-decoration: underline;
      font-style: inherit;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
  }

  h2.tsk5 
  {
    text-align: center;
      color: indigo;
      background-color: orange;
      text-decoration: azure;
      font-style: oblique;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }

  h2.tsk6
  {
    text-align: center;
      color: darkmagenta;
      background-color: mediumspringgreen;
      text-decoration: rgb(179, 122, 18);
      font-style: normal;
      font-family: "Times New Roman", Times, serif
  }

  p.Str1_1
  {
      font-size: 100% ;
      border: mediumspringgreen;
      border-style: dotted;
      width: 65px;
  }

  p.Str1_2
  {
    font-size: 120% ;
      border: mediumblue;
      border-style: double;
      width: 75px;
  }

  p.Str1_3
  {
    font-size: 140%;
      border: mediumorchid;
      border-style: ridge;
      width: 85px;
  }

  p.Str1_4
  {
    font-size: 160% ;
      border: mediumpurple;
      border-style: groove;
      width: 100px;
  }

  p.Str1_5
  {
    font-size: 180% ;
      border: mediumvioletred;
      border-style: dashed;
      width: 115px;
  }
 
  a.lnk_1:link {
    color: red;
  }

  a.lnk_1:visited {
    color: green;
  }
  
  a.lnk_1:hover {
    color: hotpink;
  }
  
  a.lnk_1:active {
    color: blue;
  }

  a.lnk_2:link {
    color: lightcoral;
  }

  a.lnk_2:visited {
    color: bisque;
  }
  
  a.lnk_2:hover {
    color: indigo;
  }
  
  a.lnk_2:active {
    color: olive;
  }

  a.lnk_3:link, a.lnk_3:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a.lnk_3:hover, a.lnk_3:active {
    background-color: red;
  }

  a.lnk_4:link, a.lnk_4:visited {
    background-color: blueviolet;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: block;
  }
  
  a.lnk_4:hover, a.lnk_4:active {
    background-color: rgb(41, 37, 37);
  }

  a.lnk_5:link, a.lnk_5:visited {
    background-color: lightpink;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: block;
  }
  
  a.lnk_5:hover, a.lnk_5:active {
    background-color: rgb(85, 192, 75);
  }

  ol.b {
    background: #ff9999;
    padding: 20px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }

  
  li a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111111;
  }